.waves {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.wave {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../svg/footer_wave.svg');
    background-size: 1000px 100px;
}

#wave1 {
    z-index: 99;
    opacity: 1;
    animation: wave-move-right 7s infinite linear;
}

#wave2 {
    z-index: 98;
    opacity: 0.5;
    animation: wave-move-left 7s infinite linear;
}

#wave3 {
    z-index: 97;
    opacity: 0.2;
    animation: wave-move-right 6s infinite linear;
}

#wave4 {
    z-index: 96;
    opacity: 0.7;
    animation: wave-move-left 6s infinite linear;
}

@keyframes wave-move-left {
    0% {
        background-position-x: -1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes wave-move-right {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}

@media (max-width: 768px) {
    .waves {
        height: 60px;
    }
    .wave {
        background-size: 600px 60px;
    }
}